div{
    background-color: aliceblue;
    border: 2px solid rgba(0,0,0,0.20);
    height:500px;
    width:500px;
    margin: 100px 625px 0px 625px;
    border-radius: 25px;
    
}
form{
    text-align:center;
}
#register{
    margin-top: 200px;
    text-decoration: none;
    font-size: 20px;
}
input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
}
#login{
    background-color: blue;
    color: white;
    border-radius: 20px;
    font-size: 20px;    
    height: 40px;
    margin-bottom: 100px;
    margin-top: 50px;
}
span{
    font-size: 20px;
}
